In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("car_data.csv")

In [21]:
df

     User ID  Gender  Age  AnnualSalary  Purchased
0        385    Male   35         20000          0
1        681    Male   40         43500          0
2        353    Male   49         74000          0
3        895    Male   40        107500          1
4        661    Male   25         79000          0
..       ...     ...  ...           ...        ...
995      863    Male   38         59000          0
996      800  Female   47         23500          0
997      407  Female   28        138500          1
998      299  Female   48        134000          1
999      687  Female   44         73500          0

[1000 rows x 5 columns]

In [22]:
df.head()

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

In [23]:
df = df.replace("Male", 1)
df = df.replace("Female", 0)

C:\Users\iqraali\AppData\Local\Temp\ipykernel_6296\3551069859.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace("Female", 0)

In [24]:
df.head()

   User ID  Gender  Age  AnnualSalary  Purchased
0      385       1   35         20000          0
1      681       1   40         43500          0
2      353       1   49         74000          0
3      895       1   40        107500          1
4      661       1   25         79000          0

In [25]:
import numpy as np

a_max = np.max(df["Age"].to_numpy())

In [26]:
df["Age"] = df["Age"]/a_max

In [27]:
s_max = np.max(df["AnnualSalary"].to_numpy())

In [28]:
s_max

152500

In [29]:
df["AnnualSalary"] = df["AnnualSalary"]/s_max

In [30]:
df.head()

   User ID  Gender       Age  AnnualSalary  Purchased
0      385       1  0.555556      0.131148          0
1      681       1  0.634921      0.285246          0
2      353       1  0.777778      0.485246          0
3      895       1  0.634921      0.704918          1
4      661       1  0.396825      0.518033          0

In [31]:
X = df[["Age", "AnnualSalary"]]
y = df["Purchased"]

In [32]:
y

0      0
1      0
2      0
3      1
4      0
      ..
995    0
996    0
997    1
998    1
999    0
Name: Purchased, Length: 1000, dtype: int64

In [33]:
x

     Gender  Age  AnnualSalary
0      Male   35         20000
1      Male   40         43500
2      Male   49         74000
3      Male   40        107500
4      Male   25         79000
..      ...  ...           ...
995    Male   38         59000
996  Female   47         23500
997  Female   28        138500
998  Female   48        134000
999  Female   44         73500

[1000 rows x 3 columns]

In [34]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [35]:
from sklearn.linear_model import LogisticRegression

reg_model = LogisticRegression(max_iter = 1000)

In [36]:
reg_model.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [37]:
preds = reg_model.predict(x_test)

In [38]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, preds)
score

0.805

In [39]:
result = pd.DataFrame({"Actual": y_test.to_numpy().reshape(200), "Predicted": preds})

In [40]:
result.head(20)

    Actual  Predicted
0        0          0
1        1          1
2        0          0
3        1          0
4        0          1
5        1          1
6        1          1
7        0          0
8        0          0
9        0          0
10       0          0
11       0          0
12       0          0
13       0          0
14       1          1
15       1          0
16       0          0
17       1          1
18       1          1
19       0          0